body{
    background-color: #ccc;
}

h1{
    background-color: #ffffff;
    text-align: center;
    color: rgb(190, 53, 53);
    margin-top: 70px;
}

.logo img{
    width: 150px;
    border-radius: 50%;
    position: relative;
    margin: 20px;
    bottom: 120px;
    margin-bottom: -100px;
}

.video{
    width: 100%;
}

.video img{
    width: 50%;
    text-align: center;
    background-position: center;
}

.bi {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    color: lightgreen;
    width: 50px;
    height: 50px;
    position: relative;
    margin: 20px;
    display: flex;
}

.face{
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    position: relative;
    margin: 20px;
    display: flex;
}

.inst{
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    color: rgb(249, 105, 53);
    width: 50px;
    height: 50px;
    position: relative;
    margin: 20px;
    display: flex;
}

.gmail{
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    color: red;
    width: 50px;
    height: 50px;
    position: relative;
    margin: 20px;
    display: flex;
}

.baner{
    display: flex;
    justify-content: center;
}

.btn{
    margin: 5px;
}

.carousel{
    width: 100%;
}

.carousel-item{
    width: 50%;
    position: relative;
    justify-content: center;
    display: flex;
    left: 25%;
}