body{
    background-color: #ccc;
}

h1{
    background-color: #ffffff;
    text-align: center;
    color: rgb(190, 53, 53);
    margin-top: 70px;
}

.logo img{
    width: 150px;
    border-radius: 50%;
    position: relative;
    margin: 20px;
    bottom: 120px;
    margin-bottom: -100px;
}

/* #carouselExampleFade{
    width: 100%;
    position: relative;

}

.paronamico img{
    width: 100%;
    position: relative;
    bottom: 120px;
}

.carousel-inner{
    width: 500px;
    position: relative;
    left:38%;
}

.carousel-item img{
    width: 300px 300px 300px 300px;
    background-position: center;
    
} */