body{
    background-image: url(imagenes/cielo\ 8.jpg);
    max-width: 100%;
}

h1{
    background-color: #ffffff;
    text-align: center;
    color: rgb(190, 53, 53);
    margin-top: 70px;
}

.logo img{
    width: 150px;
    border-radius: 50%;
    position: relative;
    margin: 20px;
    bottom: 120px;
    margin-bottom: -100px;
}

.bi {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    color: lightgreen;
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 20px;
    display: flex;
    bottom: 230px;
}

.face{
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 20px;
    display: flex;
    bottom: 160px;
}

.inst{
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    color: rgb(249, 105, 53);
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 20px;
    display: flex;
    bottom: 90px;
}

.gmail{
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    color: red;
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 20px;
    display: flex;
    bottom: 20px;
}

.baner{
    display: flex;
    justify-content: center;
}

h2{
    text-align: center;
    color: rgb(190, 53, 53);
    margin-top: 70px;
    background-position: center;
}

.video{
    width: 100%;
    text-align: center;
    background-position: center;
    margin-bottom: 50px;
}

.btn{
    margin: 5px;
}

.contain{
    margin: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background-color: #ccc;
    margin:10px;
    
}