body{
    background-color: #ccc;
}

h1{
    background-color: #ffffff;
    text-align: center;
    color: rgb(190, 53, 53);
    margin-top: 70px;
}

.logo img{
    width: 150px;
    border-radius: 50%;
    position: relative;
    margin: 20px;
    bottom: 120px;
    margin-bottom: -100px;
}

.baner{
    display: flex;
    justify-content: center;
}

.btn{
    margin: 5px;
}

.contain{
    margin: 20px 20px 20px 20px;
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}

.card{
    background-color: #ccc;
    margin:auto;
    
}